<% @messages.each do |message| %>
  <div class="grid-item card">
      <div class="card-header">
        <h4><%= link_to message.title, message_path(message) %></h4>
        <p><%= message.message_type %></p>
      </div>
      <div class="card-body">
        <ul>
          <li>
            <%= message.description %>
          </li>
        </ul>
      </div>
      <div class="card-footer">
      <% if message.ultimate_date.present? %>
        <p class="text-end text-discreet">Scheduled for <%= message.ultimate_date.strftime('%B %d, %Y') %></p>
      <% else %>
        <p>Automatic delivery</p>
    <%end %>
      </div>

  </div>
<% end %>
