<h1 class="padding">My messages</h1>

  <% if @messages.any? %>
  <div class="grid-container">
    <%= render "messages/card" %>
  </div>
<% else %>
  <div class="jumbotron text-center">
    <h1 class="display-4">No Activities...</h1>
    <p class="lead">Let's get started?</p>
  </div>
<% end %>
