<p>
  <strong>Title:</strong>
  <%= @receive.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @receive.text %>
</p>

<%= link_to 'Edit', edit_receive_path(@receive) %> |
<%= link_to 'Back', receives_path %>
