.card_companies {
  display: flex;
  overflow-x: auto;
  width: 100%;
  height: 200px;
  position: relative;
  background-color: black;
}

.company_logo {
  width: 50px; /* Set the desired width for the images */
  height: auto;
  max-width: 100%;
  animation: slideRightToLeft 5s infinite;
}

@keyframes slideRightToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
