// Specific CSS for your home-page
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.easy-steps {
	h3 {
		text-align: center;
		margin: 30px auto;
	}
	i {
		font-size: 100px;
		padding: 40px;
	}
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
