<style>
h1{
  color: red;
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
}
</style>


<p>I hope you enjoy the website</p>
<%= @message.title %>
<%= @message.description  %>
<h1>Quebra</h1>
<%= @message.user.receives.first.additional_info %>

<%=  %>

<%# link_to "Go enjoy the site " %>
