<style>
h1{
  color: red;
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
}
</style>

<h1>Email, <%= @user.email %> </h1>
<p>I hope you enjoy the website</p>
<%= @message  %>

<%=  %>

<%# link_to "Go enjoy the site " %>
