<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Inclua os links para os arquivos CSS do Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Formulário de Contato</title>
</head>
<body>
<div class="container-form d-flex">
    <div class="container mt-5">
        <h1 class="text-center">Formulário de Contato</h1>
        <form action="processar_formulario.php" method="POST">
            <div class="form-group">
                <label for="name">Nome:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>

            <div class="form-group">
                <label for="contact">Número de Contato:</label>
                <input type="text" class="form-control" id="contact" name="contact" required>
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>

            <div class="form-group">
                <label for="message">Mensagem:</label>
                <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
            </div>

            
            <button type="submit" class="btn btn-primary btn-block">Enviar</button>

        </form>
    </div>
    <div class="container mt-5 contact-flex">
        <h1 class="text-center">Dados de Contato</h1>
        <form action="processar_formulario.php" method="POST">
          <ul class="contact-list">
              <li><a class="hover:text-primary list-sq p-s b-r " href="https://www.facebook.com/" target="_blank" rel="noopener">facebook.com/origamid</a>
              <li><a class="hover:text-primary list-sq p-s b-r " href="https://www.facebook.com/" target="_blank" rel="noopener">facebook.com/origamid</a>
              <li><a class="hover:text-primary list-sq p-s b-r " href="https://www.facebook.com/" target="_blank" rel="noopener">facebook.com/origamid</a>
              <li><a class="hover:text-primary list-sq p-s b-r " href="https://www.facebook.com/" target="_blank" rel="noopener">facebook.com/origamid</a>
              </li>
            </ul>
        </form>

    </div>
  </div>
    <!-- Inclua os scripts do Bootstrap no final do seu arquivo HTML -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
