
<div class="container form-container">
        <h2>Contact us</h2>
        <form action="processar_formulario.php" method="POST">
            <div class="mb-3 string required message_title">
                <label for="name" class="form-label string required">Name:</label>
                <abbr title="required">*</abbr>
                <input type="text" class="form-control string required" id="name" name="name" required>
            </div>

            <div class="mb-3 string required message_title">
                <label for="contact" class="form-label string required">Phone</label>
                <abbr title="required">*</abbr>
                <input type="text" class="form-control string required" id="contact" name="contact" required>
            </div>

            <div class="mb-3 string required message_title">
                <label for="email" class="form-label string required">Email:</label>
                <abbr title="required">*</abbr>
                <input type="email" class="form-control string email required" id="email" name="email" required>
            </div>

            <div class="mb-3 string required message_title">
                <label for="message" class="form-label string required">Message:</label>
                <abbr title="required">*</abbr>
                <textarea class="form-control text required" id="message" name="message" rows="4" required></textarea>
            </div>


            <button type="submit" class="btn btn-last">Send</button>

        </form>
  </div>
