<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag("shush.jpg") %>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Secrets?</h1>
            <p>You don't have to take them with you. Share them with those who matter.</p>
            <p><a class="btn btn-lg " href="#">Sign up today</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("secrets.jpg") %>
        <div class="container">
          <div class="carousel-caption">
            <h1>Closure.</h1>
            <p>Leave nothing unsaid.</p>
            <p><a class="btn btn-lg " href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("closure.jpg") %>
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>For good measure...</h1>
            <p>... little everyday reminders.</p>
            <p><a class="btn btn-lg " href="#">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing easy-steps">

    <!-- Three columns of text below the carousel -->
    <div class="row">
    <h3>3 easy steps to convey your feelings to your kin once you are gone:</h2>

      <div class="col-lg-4">
        <i class="fa-solid fa-user-plus"></i>
        <h4>Add a recipient</h2>
        <p>Add the recipients to your account. Make sure to fill in the form with the correct information. We can't have your last thoughts lost, can we?</p>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
        <i class="fa-solid fa-icons"></i>
        <h4>Create your message</h2>
        <p>Now is the time to put together images, links or attached files to be delivered to your recipient. You can send many messages to a single recipient or the same message to many recipients. No need to hold back. </p>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
        <i class="fa-solid fa-person-circle-check"></i>
        <h4>Look alive!</h2>
        <p>We will send you a link from time to time, the period is up to you. All you have to do is click on this link to tell us you are still kicking. You can also set a time tolerance to avoid any unwanted premature deliveries, right?</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
