<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<h2>Pg test</h2>
<div class="container">
  <div class="row justify-content-center align-items-center" style="height: 1000px;">
    <div class="col-md-6 text-center">
      <%= link_to "+", new_message_path, class: "btn btn-success btn-lg btn-attention", role: "button" %>
    </div>
  </div>
</div>



