.card {
	border: none;
	border-left: solid 20px #5d165d;
	padding: 5px 20px;
	height: 295px;

	.card-header {
		color: #5d165d;
		padding: 0;
		margin: 5px 0 0 0;

		h4 {
			margin-bottom: 0;
			color: #5d165d;

			&:hover,
			&:any-link {
				color: #5d165d;
			}
		}

		p {
			margin: 0;
			padding: 0;
			font-size: 12px;
			color: #5d165d8f;
		}
	}
	.card-body {
		padding: 0;
		margin: 10px 0 0 0;
		height: 100px;
		overflow: hidden;
		text-overflow: ellipsis;
		position: relative;

		.content-fade {
			display: block;
			width: 318px;
			height: 96px;
			position: absolute;
			top: 90px;
			margin: 0;
			padding: 0;
			line-height: 140px;
			color: #4a7f1e;
			font-size: 12px;
			font-weight: bold;
			background: rgb(255, 255, 255);
			background: linear-gradient(
				0deg,
				rgba(255, 255, 255, 1) 0%,
				rgba(255, 255, 255, 1) 38%,
				rgba(255, 255, 255, 0) 100%
			);
		}
	}

	.card-footer {
		padding: 10px 0 0 0;
		margin: 0;

		p {
			font-size: 14px;
			margin: 5px;
		}
	}
}
.height-auto {
	height: unset !important;
	overflow: visible;
	text-overflow: unset;
	min-height: 450px;
}
