.navbar-lewagon {
	justify-content: space-between;
	/* background: rgb(0, 94, 169);
	background: linear-gradient(
		0deg,
		rgba(0, 94, 169, 1) 0%,
		rgba(0, 164, 255, 1) 44%,
		rgba(126, 208, 225, 1) 100%
	); */
	background: #5d165d;
	background: linear-gradient(
		180deg,
		rgba(93, 22, 93, 1) 0%,
		rgba(93, 22, 93, 1) 96%,
		rgba(214, 182, 214, 1) 100%
	);
	padding: 10px 30px;
	border-radius: 0 0 5px 5px;
	margin-bottom: 50px;
	box-shadow: 0px -15px 5px 5px rgba(0, 0, 0, 0.25);

	li.nav-item {
		margin: 10px;

		&:nth-child(2) {
			padding-right: 50px;
		}

		.nav-link {
			padding-top: 15px;

			&.nav-link.add-link {
				background-color: #ffcd0b;
				border-radius: 50%;
				height: 60px;
				width: 60px;
				display: flex;
				justify-content: space-around;
				padding-top: 16px;

				i {
					color: #5d165d;
				}

				p {
					display: none;
				}

				&:hover {
					background-color: #5d165d;
					text-decoration: none;

					i {
						color: #ffcd0b;
					}
					p {
						display: block;
						color: #ffcd0b;
						text-wrap: nowrap;
						position: absolute;
						top: 10px;
						font-size: 14px;
						font-weight: bold;
					}
				}
			}
		}

		&:hover {
			i {
				color: #ffcd0b;
				transition: 300ms;
			}
		}
		&.dropdown {
			margin-top: 24px;
			text-decoration: none;

			& > div {
				border: solid 3px #5d165d;
				border-radius: 8px;
				padding: 0;
				margin: 0;
				.dropdown-item {
					&:hover {
						background-color: #ffcd0b;
					}
					&:first-child {
						border-radius: 6px 6px 0 0;
					}
					&:last-child {
						border-radius: 0 0 6px 6px;
					}
				}
			}
		}
	}
	.navbar-brand {
		span {
			color: #ffcd0b;
		}
	}
	.navbar-collapse {
		flex-grow: 0;
	}
	.navbar-brand img {
		width: 120px;
		filter: brightness(0) saturate(100%) invert(78%) sepia(71%) saturate(703%)
			hue-rotate(348deg) brightness(99%) contrast(103%);
	}
	.fa-solid {
		font-size: 30px;
		color: #fce99f;
		transition: 500ms;
	}
	.fa-2xs {
		font-size: 14px;
	}
}
